## Determine the number of jobs currently open for various technologies and for various locations

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

In [3]:
df = pd.read_csv(df_url)

#### DUPICATED ENTRIES

In [4]:
# Find out whether there is any duplicated row

df.duplicated().sum()

154

In [5]:
# drop them

df.drop_duplicates(inplace=True)

In [17]:
df.Respondent.isnull().sum()

0

#### MISSING VALUES

In [54]:
columns = df.columns.tolist()

colums_null = []

for col in columns:
    
    if df[col].isnull().sum() != 0:
        print( 'Column: {} --> {} null values. Type: {}'.format(col, df[col].isnull().sum(), df[col].dtype))
        colums_null.append(col)

Column: OpenSource --> 81 null values. Type: object
Column: Student --> 51 null values. Type: object
Column: EdLevel --> 112 null values. Type: object
Column: UndergradMajor --> 737 null values. Type: object
Column: EduOther --> 164 null values. Type: object
Column: OrgSize --> 96 null values. Type: object
Column: DevType --> 65 null values. Type: object
Column: YearsCode --> 9 null values. Type: object
Column: Age1stCode --> 13 null values. Type: object
Column: YearsCodePro --> 16 null values. Type: object
Column: JobSat --> 1 null values. Type: object
Column: MgrIdiot --> 493 null values. Type: object
Column: MgrMoney --> 497 null values. Type: object
Column: MgrWant --> 493 null values. Type: object
Column: LastInt --> 413 null values. Type: object
Column: FizzBuzz --> 37 null values. Type: object
Column: JobFactors --> 3 null values. Type: object
Column: ResumeUpdate --> 39 null values. Type: object
Column: CompTotal --> 809 null values. Type: float64
Column: CompFreq --> 206 null values. Type: object
Column: ConvertedComp --> 816 null values. Type: float64
Column: WorkWeekHrs --> 122 null values. Type: float64
Column: WorkPlan --> 121 null values. Type: object
Column: WorkChallenge --> 164 null values. Type: object
Column: WorkRemote --> 8 null values. Type: object
Column: WorkLoc --> 32 null values. Type: object
Column: ImpSyn --> 5 null values. Type: object
Column: CodeRev --> 1 null values. Type: object
Column: CodeRevHrs --> 2426 null values. Type: float64
Column: UnitTests --> 29 null values. Type: object
Column: PurchaseHow --> 196 null values. Type: object
Column: PurchaseWhat --> 38 null values. Type: object
Column: LanguageWorkedWith --> 11 null values. Type: object
Column: LanguageDesireNextYear --> 134 null values. Type: object
Column: DatabaseWorkedWith --> 453 null values. Type: object
Column: DatabaseDesireNextYear --> 1042 null values. Type: object
Column: PlatformWorkedWith --> 411 null values. Type: object
Column: PlatformDesireNextYear --> 544 null values. Type: object
Column: WebFrameWorkedWith --> 1393 null values. Type: object
Column: WebFrameDesireNextYear --> 1617 null values. Type: object
Column: MiscTechWorkedWith --> 2182 null values. Type: object
Column: MiscTechDesireNextYear --> 1455 null values. Type: object
Column: DevEnviron --> 29 null values. Type: object
Column: OpSys --> 34 null values. Type: object
Column: Containers --> 82 null values. Type: object
Column: BlockchainOrg --> 2322 null values. Type: object
Column: BlockchainIs --> 2610 null values. Type: object
Column: BetterLife --> 98 null values. Type: object
Column: ITperson --> 35 null values. Type: object
Column: OffOn --> 38 null values. Type: object
Column: SocialMedia --> 293 null values. Type: object
Column: Extraversion --> 20 null values. Type: object
Column: ScreenName --> 507 null values. Type: object
Column: SOVisit1st --> 325 null values. Type: object
Column: SOVisitFreq --> 5 null values. Type: object
Column: SOVisitTo --> 1 null values. Type: object
Column: SOFindAnswer --> 3 null values. Type: object
Column: SOTimeSaved --> 50 null values. Type: object
Column: SOHowMuchTime --> 1917 null values. Type: object
Column: SOAccount --> 1 null values. Type: object
Column: SOPartFreq --> 1128 null values. Type: object
Column: SOJobs --> 6 null values. Type: object
Column: EntTeams --> 5 null values. Type: object
Column: WelcomeChange --> 85 null values. Type: object
Column: SONewContent --> 1965 null values. Type: object
Column: Age --> 287 null values. Type: float64
Column: Gender --> 73 null values. Type: object
Column: Trans --> 123 null values. Type: object
Column: Sexuality --> 542 null values. Type: object
Column: Ethnicity --> 675 null values. Type: object
Column: Dependents --> 140 null values. Type: object
Column: SurveyLength --> 19 null values. Type: object
Column: SurveyEase --> 14 null values. Type: object

### Lets first check the ones that are numeric values

- 'YearsCode'

In [65]:
df.YearsCode.unique()

array(['3', '12', '17', '10', '5', '14', '8', '35', '2', '4', '30', '9',
       '26', '15', '7', '20', '13', '1', '6', '28', '11', '33', '41',
       '16', '24', '23', '27', '18', '22', '19', '21', '25', '36', 0,
       '32', '34', '31', '39', '29', '40', '44', '37', '45', '43', '38',
       10.0, '47', '42', '50', '49', '46', '48'], dtype=object)

In [56]:
#Lets set the ones that are less than a year as 0

df['YearsCode'].replace('Less than 1 year', 0, inplace=True)

In [64]:
# Lets fill na  values with the median

df['YearsCode'].fillna(int(df['YearsCode'].median()), inplace=True)

- 'Age1stCode'

In [72]:
df.Age1stCode.unique()

array(['16', '11', '17', '18', '13', '12', '19', '21', '8', '20', '14',
       '6', '15', '10', '29', '9', '23', '22', '30', '7', '27', '24', 4,
       '26', '25', 15, '38', '28', '5', '31', '36', '34', '32', '33',
       '35', '40', '37', '43', '39', '42', '45'], dtype=object)

In [69]:
# Change 'less than 5' to 4

df['Age1stCode'].replace('Younger than 5 years', 4, inplace=True)

In [71]:
# Replace the null value for the median

df['Age1stCode'].fillna(int(df['Age1stCode'].median()), inplace=True)

- 'YearsCodePro'

In [77]:
df.YearsCodePro.unique()

array([0, '4', '8', '3', '2', '13', '18', '1', '22', '23', '19', '10',
       '9', '7', '5', '6', '20', '12', '35', '11', '15', '16', '21', '29',
       '14', '26', '30', '25', '17', 5, '28', '37', '40', '33', '24',
       '32', '34', '27', '39', '31', '38', '44', '43', '36', '48', '42',
       '45', '47'], dtype=object)

In [74]:
# Again change less than a year for 0

df['YearsCodePro'].replace('Less than 1 year', 0, inplace=True)

In [76]:
# fill null values 

df['YearsCodePro'].fillna(int(df['YearsCodePro'].median()), inplace=True)

- 'WorkWeekHrs'

In [79]:
df.WorkWeekHrs.fillna(df['WorkWeekHrs'].median(), inplace=True)

- 'CodeRevHours'

In [81]:
# When the value of this variable is null it means that the person did not spend time reviewing code so it shoul be replace by 0

df.CodeRevHrs.fillna(0, inplace=True)

- 'Age'

In [84]:
df.Age.fillna(df.Age.median(), inplace=True)

In [52]:
for col in colums_null:
    
    if df[col].dtype == :
        print( 'Column: {} --> {} null values. Type: {}'.format(col, df[col].isnull().sum(), df[col].dtype))

dtype('float64')